#wrapper {
	width		: 1200px;
	margin	: 0 auto;
}

#drawSection, #inputSection {
	width	: 100%;
}

#drawSection::after, #inputSection::after { 
	content: "";
	display: block; 
	clear: both;
}

.numberContainer {
	margin	: 0 auto;
	width		: 20%;
}

#wrapper .numberContainer > div {
	float			: left;
	text-align	: center;
	width			: 25%;
}